@tailwind base;
@tailwind components;
@tailwind utilities;

*,
*::before,
*::after {
  box-sizing: border-box;
}

html,
body {
  @apply m-0 bg-slate-50 text-slate-900 antialiased;
  width: 380px;
  min-width: 380px;
  max-width: 380px;
  min-height: 500px;
  overflow-x: hidden;
}

#app {
  display: block;
  width: 100%;
  min-height: 500px;
}
